input{
color:gray;
margin-left:9%;
background-color:white;
height:50px;
width:280px;
font-size:18px;

}
label{
color:white;
font-size:20px;
margin-left:28%;
}
body{
width: 30%;
margin-left:55%;
padding:10px;
margine:10px;

}
.img{
width: 30%;
hight:25%;
margin-left:35%;
}
button{
color:white;
width:20%;
margin-left:9%;
background-color:#0277bd;
height:50px;
width:285px;
}
h1{
color:white;
margin-left:35%;
}
button:hover{
color:gray;
}
a{
color:white;
font-size:16px;
margin-left:10%;
}
a:hover{
color:#0277bd;
}
.main{
background-image: url(../IMG/login.jpg);
background-repeat:no-repeat;
background-size:cover;
background-position:center;
}
fieldset{
margin-top:10%;
width:75%;
padding:10px 10px;

}